services:
  nginx:
    container_name: nginx
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    ports:
      - 5001:5001
    restart: always
  
  registry:
    container_name: registry
    image: registry
    environment:
      - OTEL_TRACES_EXPORTER=none
    volumes:
      - ${REGISTRY_STORAGE}:/var/lib/registry
    restart: always

  vulcan:
    container_name: vulcan
    image: registry:5000/vulcan
    volumes:
      - ${VULCAN_STORAGE}:/home/git
      - ./authorized_keys:/home/git/.ssh/authorized_keys
    ports:
      - 2222:22
      - 8888:80
      - 9418:9418
    restart: unless-stopped